:root {
    color-scheme: dark light;
}

/* https://github.com/system-fonts/modern-font-stacks */
body {
    font-family: system-ui, sans-serif;
    overflow-wrap: break-word;
}

article {
    animation-name: fade-in;
    animation-duration: 0.75s;
    border-bottom: 2q solid rgb(61, 94, 156);
    padding-top: 24px;
    padding-bottom: 24px;
}

article:hover {
    /* this will do nothing in light mode, we'll need something else to fix that */
    backdrop-filter: brightness(1.2);
    -webkit-backdrop-filter: brightness(1.2);
}

nav {
    border-bottom: 2q solid rgb(61, 94, 156);
    padding-bottom: 24px;
}

@keyframes fade-in {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

@keyframes fade-out-in {
    0% {
        opacity: 100%;
    }

    50% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

.post-img {
    animation-name: fade-in;
    animation-duration: 0.75s;

    object-fit: scale-down;
    max-width: 95vw;
    max-height: 85vh;

    /* These center the image, looking nice on mobile but somewhat meh on desktop */
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.post-video {
    animation-name: fade-in;
    animation-duration: 0.75s;

    object-fit: scale-down;
    max-width: 95vw;
    max-height: 85vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.friendly-name {
    margin-left: 8px;
    font-size: large;
    font-weight: bold;
    overflow: hidden;
}

.full-account-name {
    margin-left: 8px;
    font-weight: lighter;
    grid-column: 2;
    overflow: hidden;
}

.post-header {
    display: grid;
    grid-template-columns: 50px 1fr;
}

.post-avatar {
    grid-row-start: 1;
    grid-row-end: 3;
}

.post-creation-time {
    font-weight: lighter;
}

.load-next-batch {
    display: block;
    margin-top: 24px;
    margin-bottom: 24px;
}

.loading-anim {
    animation-name: fade-out-in;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}